@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#popup 
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 7rem 2rem 1.5rem 2rem;
    height: 27rem;
    width: 30rem;
    max-width: 90%;
    background-color: #ebaaaa;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    animation: zoomIn 0.4s ease forwards;
}

@keyframes zoomIn {
    0% 
    {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.85);
    }
    100% 
    {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

#popupFechar 
{
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 2.5rem;
    width: 2.5rem;
    max-width: 40px;
    margin: 1rem;
    color: #7A5C58;
    font-weight: 700;
    background-color: #fde7b6;
    border-radius: 50%;
    transition: 0.4s ease;
}

#popupFechar:hover
{
    transform: scale(1.09);
}

#tituloPopup
{
    position: absolute;
    top: 2.7rem;
    left: 11.5rem;
    margin: 0;
    font-size: 2rem;
}

#popup img 
{
    display: block;
    height: 17rem;
    width: 17rem;
    object-fit: contain;
}

#timer
{
    font-size: 1.75rem;
    font-weight: bold;
}

#popup div
{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    min-width: 30rem;
}

#start, #stop
{
    padding: 0.5rem 1.2rem;
    width: auto;
    min-width: 8rem;
    height: auto;
    border-radius: 5px;
    color: #7A5C58;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    background-color: #fde7b6;
}

#popup button img, #popup button:nth-child(2)
{
    align-self: center;
    justify-self: center;
    height: 1.3vw;
    width: 1.3vw;
    background-color:rgba(255, 255, 255, 0);
}

section div button:hover
{
    scale: 110%;
    transition: 0.3s;
}

#overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}