@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#popup
{
    position: fixed;
    justify-items: center;
    top: 10vw;
    left: 35vw;
    right: 35vw;
    bottom: 10vw;
    background-color: #ebaaaa;
    border-radius: 5%;
    z-index: 1000;
}

#popupFechar
{
    font-size: 0.8vw;
    display: inline;
    margin: 1vw;
    border-radius: 50%;
    width: 1.5vw;
    max-width: 5rem;
    height: 1.5vw;
    max-height: 5rem;
}

button
{
    border: 0;
    color: #7A5C58;
    background-color: #fde7b6;
    font-weight: 900;
}

button:hover
{
    scale: 110%;
    transition: 0.3s;
}

#tituloPopup
{
    font-size: 1.7vw;
    margin: 0;
}

#popup img
{
    display: block;
    width: 15.5vw;
    height: 15.5vw;
}

#timer
{
    font-size: 1.3vw;
    font-weight: bold;
}

#start, #stop
{
    font-size: 0.8vw;
    justify-content: center;
    border-radius: 5px;
    width: 5vw;
    height: 1.7vw;
    margin: 0.3vw;
}

#popup button img, #popup button:nth-child(2)
{
    justify-self: center;
    align-self: center;
    background-color:rgba(255, 255, 255, 0);
    width: 1.3vw;
    height: 1.3vw;
}

#overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    display: none;
    z-index: 999; 
}