@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    background-color: #F8F3F1;
    color: #443229;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h1
{
    font-size: 2.5vw;
    align-self: center;
}

img
{
    height: 200px;
    width: 200px;
}

figure
{
    display: flex;
    align-items: center;
    background-color: #ebaaaa;
    border-radius: 5%;
    box-shadow: 0 4px 12px #D6C7CE;
    flex-direction: column;
    height: 260px;
    margin: 0.7vw;
    width: 250px;
}

figure img
{
    height: 70%;
    width: 70%;
}

figcaption
{
    font-size: 25px;
    font-weight: bolder;
}

figure:hover
{
    transition: 0.5s;
    scale: 105%;
}