@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html
{
    height: 100%; 
    margin: 0;
    padding: 0;
}

#particles-js 
{
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
    background: linear-gradient(180deg, #fce3e3, #f8eeee);
    margin: 0px;
}

body
{
    color: #443229;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    min-height: 100vh;
    position: relative;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h1
{
    font-size: 2.5vw;
    align-self: center;
}

img
{
    height: 200px;
    width: 200px;
}

figure
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 12.5rem;  
    height: 16.25rem;    
    width: 15.625rem;    
    max-width: 260px; 
    margin: 0.5rem;
    background-color: #ebaaaa;
    border-radius: 5%;
    box-shadow: 0 4px 12px #D6C7CE;
}

figure img
{
    height: 70%;
    width: auto;
}

figcaption
{
    font-size: 1.5625rem;
    font-weight: bolder;
}

figure:hover
{
    transition: 0.5s;
    scale: 105%;
}

@media (max-width: 600px)
{
    section 
    {
        gap: 1rem;
        flex-direction: column;
    }

    figure img
    {
        height: 65%;
        width: auto;
    }
    
    figcaption
    {
        font-size: 1.25rem;
    }
}